body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

textarea {
  width: 300px;
  height: 80px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
#professorList {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
}

#professorList li {
  padding: 10px;
  margin: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px 5px 0 0;
}

#professorList li:hover {
  background-color: #e0f7ff;
}

#professorList li:last-child {
  border-bottom: none;
}
